ledctl.8.gz
ledmon.conf.5.gz
ledmon.8.gz
ledctl.gz
ledmon.conf.gz
ledmon.gz
*.o
_build
ledmon
ledctl
*~
*.bak
.depend
*.deps*
depcomp
*.swp
compile
missing
install-sh

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
build-aux/
configure
config_ac.h
config_ac.h.in
config.log
config.status
stamp-h1

gledctl
