ledctl.8.gz
ledmon.conf.5.gz
ledmon.8.gz
*.o
_build
ledmon
ledctl
*~
*.bak
.depend
*.swp

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
build-aux/
configure
config_ac.h
config.log
config.status
stamp-h1
